<a href="https://colab.research.google.com/github/DenzelRafaelDonato/DSA-58010/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [5]:
import array
array.typecodes #get all typecodes
a = array.array('i',[1,2,3,4,5,6]) #initializing array a
b = array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5]) #initializing array b
print(a.typecode)
print(b.typecode)

i
f

Example 2. Create/convert the elements of array A to float/decimal number

In [18]:
a = array.array('f',[1,2,3,4,5,6]) #initializing array a
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

Example 3

In [49]:
from array import array #importing array from array module
A = array ('i',[4,5,6,7]) #initializing array A
B = array ('i',[1,2,3])   #initializing array B
A.insert(1,2) #inserting element: 2 at index:1
print(A)

A.insert(-1,0) #insert element:0 at index:-1
print(A)
A.insert(6,8) #insert element:8 to index 6 which is out of range
print(A)     #append the last element of the array
B[2] = 5
print(B)
B[-1] = 9
print(B)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])
array('i', [1, 2, 5])
array('i', [1, 2, 9])

Example 4: Linked List

In [69]:
#Node
class Node:
  #Function to initialize the node object
  def __init__(self,data):
    self.data = data #Assign data
    self.next = None #initialize
              #next as null

#Linked List Class
class LinkedList:
  #Function to initialize the Linked
  #List Object
  def __init__(self):
    self.head = None #initialize head as null

  def printList(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next


list = LinkedList()   #empty list
list.head = Node(1)
second = Node(2)
third = Node(3)
fourth = Node(4)

list.head.next=second
second.next=third
third.next=fourth

list.printList()

1
2
3
4